<div class="product-card">

  <div class="w-72 bg-white shadow-md rounded-xl duration-500 ease-in-out hover:scale-105 hover:shadow-xl overflow-hidden">
    <a class="group duration-500 transition-all ease-in-out" href="{{ collection.url }}">
      {% if collection.featured_image != blank %}
        <img
          loading="lazy"
          width=""
          height=""
          src="{{ collection.featured_image |  image_url }}"
          alt="{{ collection.title }}"
          class="h-80 w-72 object-cover rounded-t-xl transition duration-500 ease-in-out transform hover:scale-105" />
      {% elsif collection.featured_image == blank and collection.products.first.image != blank %}
        <img
          loading="lazy"
          width=""
          height=""
          src="{{ collection.product.first.image |  image_url }}"
          alt="{{ collection.title }}"
          class="h-80 w-72 object-cover rounded-t-xl" />
      {% else %}
        {{ 'collection-1' | placeholder_svg_tag: 'h-80 w-72 object-cover rounded-t-xl' }}
      {% endif %}

      <div class="px-4 py-3 w-72">

        <div class="text-lg font-bold text-black truncate child ease-in-out  group-hover:text-red-500 transition-all  block capitalize">
          <div class="flex  gap-2 items-center group">
            <span>
              {{ collection.title }}</span>
            <span class="child group-hover:ml-2 group-hover:text-red-500 ease-in-out duration-50 transition-all">
              {% render 'icon-arrow-right'
                , class: 'w-6' %}
            </span>
          </div>
        </div>
      {% comment %} collection info {% endcomment %}

      </div>
    </a>
  </div>
</div>