{% case media.media_type %}
  {% when 'image' %}
    {% assign media_id = forloop.index | append: '-product-media' %}

    <div class="product-single_media border-2 shadow-sm p-2 rounded overflow-hidden ">
      {{ media | image_url: width: "300", height: "300" | image_tag: class: "h-80 w-full  hover:scale-125 transition-all duration-[3000ms]  overflow-hidden ease-in-out cursor-pointer", width: nil, height: nil, id: media_id, data-product-media: "image" }}
    </div>
  {% when 'video' %}
    <div class="product-single_media  shadow-sm p-2 border-2 rounded overflow-hidden ">
      {% assign video_sources = media.sources %}
      {% assign video_url = video_sources[0].url %}
      <div></div>
      {{ media | video_tag: controls: true, image_size: '400px', class: "w-full h-full object-cover", data-product-media: "video", data-video-src: video_url }}
    </div>
  {% when 'external_video' %}
    <div class="product-single_media  shadow-sm p-2 rounded overflow-hidden ">
      {{ media | external_video_tag: class: "cursro-pointer product-single_media  shadow-sm p-2 border-2 rounded overflow-hidden", data-product-media: "external_video" }}
    </div>
  {% when 'model' %}
    <product-modal data-media-id="{{ media.id }}">
      <div class="relative">
        <span id="view_model" class="border z-30 cursor-pointer bg-gray-100 absolute top-1/2 left-1/2 tranform -translate-x-1/2 -translate-y-1/2">
          {% render 'icon-model-viewer'
            , class: "w-8 h-8 hover:scale-105 transition-all duration-100" %}
        </span>
        <div>
          <button
            id="productMoelModalOpenButton_{{ media.id }}"
            x-on:click="productModalOpen = true"
            class="w-full product-single_media border-2 shadow-sm p-2 rounded overflow-hidden h-full cursor-pointer bg-gray-100  relative">
            <img
              src="{{ media |  image_url  }}"
              width=""
              height=""
              class="w-full h-80 object-cover "
              alt="{{ media.preview_image.alt }}" />
          </button>
        </div>
        <template>
          {{ media | model_viewer_tag: reveal: 'interaction' }}
        </template>
      </div>
    </product-modal>

  {% comment %} <div class="product-single_media border-2 shadow-sm p-2 rounded overflow-hidden flex justify-center items-center "></div> {% endcomment %}
  {% else %}
    {{ media | media_tag }}
{% endcase %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
  
  })
</script>

{% comment %} 
                                                                                                            
                                                                              1. setup the <product-modal></product-modal> compoent
                                                                              2. create the modal window
                                                                              3. Javascript
                                                                              4. use css
                                                                              
                                                                              {% assign media_sources = media.sources %}
                                                                              {% assign model_src = media_sources[0].url %}
                                                                              {{ media | model_viewer_tag: data-product-media: "model", data-model-src: model_src, class: "" }}
{% endcomment %}