<div class="article py-8 mb-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <div class="article-title flex justify-center items-center flex-col mb-6">
          <a href="{{ blog.url }}" class="uppercase font-bold text-blue-500 hover:text-blue-900 transition-all">{{ blog.title }}</a>
          <h1 class="text-3xl font-bold text-center capitalize">
            {{ article.title }}
          </h1>
        </div>
      {% when 'article_author' %}
        <div class="text-center mb-6">
          <span class="uppercase font-semibold">Author:
            <i>{{ article.author }}</i>
          </span>
        </div>
      {% when 'published_date' %}
        <div class="date text-center mb-6">
          <span class="capitalize">
            Published: {{ article.published_at | date: '%b %d, %Y' }}</span>
        </div>
      {% when 'featured_image' %}
        <div class="{% if block.settings.image_full_width == false %} container {% endif %} mb-6">
          {% if article.image != blank %}
            <img
              src="{{ article.image |  image_url }}"
              width=""
              height=""
              class="h-80 w-[100%]"
              alt="">
          {%- else -%}
            {% comment %} {% assign backup_article_image = 'lifestyle-2' %} {% endcomment %}
            {{ block.settings.placeholder_image | placeholder_svg_tag: 'h-80 w-[100%] mb-6' }}
          {% endif %}

        </div>
      {% when 'article_content' %}
        <div class="mb-6">
          <div class="article-content container">
            <b>Content:</b>
            {{ article.content }}
          </div>
        </div>
      {% else %}
        <div class="mb-6"></div>
    {% endcase %}
  {% endfor %}
</div>

<style>
  .article-content {
    overflow: hidden;
  }
  .article-content h2 {
    font-weight: 700;
    font-size: 24px;
  }
  .article-content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50vh;
    width: 30vw;
  }
  .article-content p {
    margin-bottom: 10px;
  }
</style>

{% schema %}
  {
    "name": "Template Article",
    "tag": "section",
    "class": "default-blog-post",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Enable Author"
      },
      {
        "type": "checkbox",
        "id": "enable_publish_date",
        "default": true,
        "label": "Enable Publish Date"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "published_date",
        "name": "Published date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Featured Image",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "image_full_width",
            "label": "Iamge Full Width",
            "default": false
          },
          {
            "type": "select",
            "id": "placeholder_image",
            "label": "Select Placeholder image",
            "options": [
              {
                "value": "lifestyle-1",
                "label": "Lifestyle 1"
              },
              {
                "value": "lifestyle-2",
                "label": "Lifestyle 2"
              }
            ]
          }
        ]
      },
      {
        "type": "article_content",
        "name": "Article content",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Template Article",
        "settings": {}
      }
    ]
  }
{% endschema %}