<div class="article">
  <div class="container">
    <div class="mb-6">
      <a href="{{ blog.url }}">
        {{ blog.title }}</a>
      / {{ article.title }}
    </div>
    <h1 class="text-center text-3xl ">
      {{ article.title }}
    </h1>
    {% comment %} article info {% endcomment %}
    <div class="article-info mb-6 flex gap-4">
      {% if section.settings.enable_author == true %}
        <h3>Author:
          <span>
            <i>
              {{ article.author }}</i>
          </span>
        </h3>
      {% endif %}
      {% if section.settings.enable_publish_date %}
        <div>
          Created At:
          <i>
            <time datetime="{{ article.created_at | date: '%B %d, %Y' }}">
              {{ article.created_at | date: '%B %d, %Y' }}
            </time>
          </i>
        </div>
      {% endif %}
    </div>
    {% comment %} tags {% endcomment %}
    <div class="tags mb-6">
      <b>tags</b>
    </div>
    {% comment %} article content {% endcomment %}
    <div class="article-content mb-6">
      {% if article.image != blank %}
        <div class="float-left mr-4 mb-4">
          <img
            alt="{{ article.image.alt }}"
            loading="lazy"
            width="400"
            height="400"
            src="{{ article.image |  image_url }}">
        </div>
      {% endif %}
      <div class="">
        {{ article.content }}</div>
    </div>
  </div>
</div>

<style>
  .article-content {}
.article-content h2 {
  font-weight: 700;
  font-size: 24px;
}
.article-content p {
  margin-bottom: 10px;
}
</style>

{% schema %}
  {
    "name": "Template Article",
    "tag": "section",
    "class": "default-blog-post",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Enable Author"
      },
      {
        "type": "checkbox",
        "id": "enable_publish_date",
        "default": true,
        "label": "Enable Publish Date"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "published_date",
        "name": "Published date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Featured Image",
        "limit": 1
      },
      {
        "type": "article_content",
        "name": "Article content",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Template Article",
        "settings": {}
      }
    ]
  }
{% endschema %}