<article class="article py-8 mb-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <div class="article-title flex justify-center items-center flex-col mb-6">
          <a href="{{ blog.url }}" class="uppercase font-bold text-blue-500 hover:text-blue-900 transition-all">{{ blog.title }}</a>
          <h1 class="text-3xl font-bold text-center capitalize">
            {{ article.title }}
          </h1>
        </div>
      {% when 'article_author' %}
        <div class="text-center mb-6">
          <span class="uppercase font-semibold">Author:
            <i>{{ article.author }}</i>
          </span>
        </div>
      {% when 'published_date' %}
        <div class="date text-center mb-6">
          <span class="capitalize">
            Published: {{ article.published_at | date: '%b %d, %Y' }}</span>
        </div>
      {% when 'featured_image' %}
        <div class="{% if block.settings.image_full_width == false %} container {% endif %} mb-6">
          {% if article.image != blank %}
            <img
              src="{{ article.image |  image_url }}"
              width=""
              height=""
              class="h-80 w-[100%]"
              alt="">
          {%- else -%}
            {% comment %} {% assign backup_article_image = 'lifestyle-2' %} {% endcomment %}
            {{ block.settings.placeholder_image | placeholder_svg_tag: 'h-80 w-[100%] mb-6' }}
          {% endif %}

        </div>
      {% when 'article_content' %}
        <div class="mb-6">
          <div class="article-content container">
            <b>Content:</b>
            {{ article.content }}
          </div>
        </div>
      {% else %}
        <div class="mb-6"></div>
    {% endcase %}
  {% endfor %}
</article>
{% if blog.comments_enabled? %}
  <div class="add-comments pb-6">

    <div class="container">
      <h3 class="text-xl text-start font-semibold">Add Comment</h3>
      <div class="w-full  ">
        {% form 'new_comment' article %}
          <div class="text-xl text-red-400">
            {{ form.errors | default_errors }}</div>
          {% if form.posted_successfully? %}
            <div class="py-2 text-green-500 text-xl ">
              Thank you for your comment!
            </div>
          {% endif %}
          <div class="p-6 bg-blue-100 rounded-lg shadow-md">
            <div class="flex gap-8">
              <div class="name mb-4 w-full">

                <input
                  placeholder="Name"
                  type="text"
                  id="name"
                  name="comment[author]"
                  value="{{ form.author }}"
                  class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
              </div>
              <div class="email mb-4 w-full">
                <input
                  placeholder="Email"
                  type="text"
                  name="comment[email]"
                  value="{{ form.email }}"
                  class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
              </div>
            </div>
            <div class="comment mb-4">

              <textarea
                placeholder="Write Your comment"
                name="comment[body]"
                id="comment"
                class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                rows="4">{{ form.body }}</textarea>
            </div>
            <div class="submit">
              <input type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>

{% endif %}


<style>
  .article-content {
    overflow: hidden;
  }
  .article-content h2 {
    font-weight: 700;
    font-size: 24px;
  }
  .article-content img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50vh;
    width: 30vw;
  }
  .article-content p {
    margin-bottom: 10px;
  }
</style>

{% schema %}
  {
    "name": "Template Article",
    "tag": "section",
    "class": "default-blog-post",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Enable Author"
      },
      {
        "type": "checkbox",
        "id": "enable_publish_date",
        "default": true,
        "label": "Enable Publish Date"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "published_date",
        "name": "Published date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Featured Image",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "image_full_width",
            "label": "Iamge Full Width",
            "default": false
          },
          {
            "type": "select",
            "id": "placeholder_image",
            "label": "Select Placeholder image",
            "options": [
              {
                "value": "lifestyle-1",
                "label": "Lifestyle 1"
              },
              {
                "value": "lifestyle-2",
                "label": "Lifestyle 2"
              }
            ]
          }
        ]
      },
      {
        "type": "article_content",
        "name": "Article content",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Template Article",
        "settings": {}
      }
    ]
  }
{% endschema %}