<div class="order">
  <div class="container order-container">
    <h2 class="text-2xl text-center">Order List</h2>
    <div class="flex items-start md:items-end justify-between my-5">
      <div class="w1/2">
        <h1 class="text-2xl font-bold text-gray-700">Order {{ order.name }}
        </h1>
        <p class="text-gray-500 my-2">Placed on {{ order.created_at | date: format: 'date' }}</p>
        <span class="text-sm text-white bg-gray-700 rounded-full my px-4 py-1">
          {{ order.financial_status_label }}
        </span>
      </div>
      <a href="{{ routes.account_url }}" class="text-blue-700 hover:text-blue-900 underline font-medium">Back to account</a>
    </div>
    <div>

      <ul class="">
        {% for line_item in order.line_items %}
          <li class="w-full border border-gray-200 divided-y rounded-sm mb-4  p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-2 gap-4 lg:md-gap-4 ">
              {% comment %} image {% endcomment %}
              <div class="w-full border-2 border-gray-300 min-h-80 bg-gra rounded-md overflow-hidden">
                {% if line_item.image %}
                  <img
                    class="w-full h-full object-center max-h-80  object-cover"
                    src="{{ line_item.image |  image_url }}"
                    width=""
                    height=""
                    alt="{{ line_item.image.alt }}">
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: "w-full h-full object-center max-h-80  object-cover" }}
                {% endif %}
              </div>
              {% comment %} info {% endcomment %}
              <div>
                <h1 class="text-xl font-medium mb-4">
                  {{ line_item.title | link_to: line_item.product.url }}
                </h1>
                <table class="mb-4">
                  <tbody>
                    <tr>
                      <td class="border border-gray-200 px-4 py-2">Price</td>
                      <td class="border border-gray-200 px-4 py-2">{{ line_item.original_price | money }}</td>
                    </tr>
                    <tr>
                      <td class="border border-gray-200 px-4 py-2">Quantity</td>
                      <td class="border border-gray-200 px-4 py-2">{{ line_item.quantity }}</td>
                    </tr>
                    <tr>
                      <td class="border border-gray-200 px-4 py-2">Final Pirce</td>
                      <td class="border border-gray-200 px-4 py-2">{{ line_item.final_line_price | money }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-gray-500 mb-4">
                  {{ line_item.product.description | truncate: 200 }}
                </div>
              </div>
              {% comment %} address {% endcomment %}
              <div class="delivery-address">
                <h1 class="font-medium mb-4 text-xl">
                  Delivery address
                </h1>
                <div class="text-gray-500">
                  <p>Address 1: {{ order.shipping_address.address1 }}
                  </p>
                  <p>Address 2:{{ order.shipping_address.address2 }}</p>
                  <p>Street: {{ order.shipping_address.street }}</p>
                  <p>Zip: {{ order.shipping_address.zip }}</p>
                  <p>City: {{ order.shipping_address.city }}</p>
                  <p>Province: {{ order.shipping_address.province }}</p>
                  <p>Country: {{ order.shipping_address.country }}</p>
                </div>
              </div>
              {% comment %} tracking {% endcomment %}
              <div class="p-4 md:p-12 text-lg font-medium">
                <h1>Fulfilment</h1>
                {% if line_item.successfully_fulfilled_quantity > 0 %}
                  <p class="mb-2">We have fullfilled
                    <span class="text-yellow-500">
                      {{ line_item.successfully_fulfilled_quantity }}</span>
                    items of your recent order
                  </p>
                  <p class="mb-2">Tracking compay: {{ line_item.fulfillment.tracking_company }}
                  </p>
                  <p class="mb-2">Tracking number: {{ line_item.fulfillment.tracking_number }}</p>
                  <a
                    target="_blank"
                    class="flex items-center justify-center gap-2 capitalize w-max text-sm rounded-md bg-gray-700 hover:bg-gray-900  text-white p-2"
                    href="{{ line_item.fulfillment.tracking_url }}">
                    <span>Track order</span>
                    {% render 'icon-external-link'
                      , class: "w-6 h-6" %}
                  </a>
                {% else %}
                  <p class="text-gray-500"></p>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 border-gray-200 my-6 rounded-md">
        {% comment %} billing address {% endcomment %}
        <div>
          <h1 class="font-medium mb-4">Billin Address</h1>
          <p class="text-gray-600">
            {{ order.billing_address | format_address }}
          </p>
        </div>
        <div>
          <h1 class="font-medium mb-4">Payment Information</h1>
          {% for transaction in order.transactions %}
            <div class="mb-4">
              {% assign credit_card_company = transaction.payment_details.credit_card_company %}
              {% assign credit_card_last_four_digit = transaction.payment_details.credit_card_last_four_digits %}
              {% if credit_card_company %}
                <p>{{ credit_card_company }}</p>
                <div class="flex justify-start items-center">
                  <span class="mx-1">****</span>
                  <span class="mx-1">****</span>
                  <span class="mx-1">****</span>
                  <span class="mx-1">{{ credit_card_last_four_digit }}</span>
                </div>
                {% case transaction.status_label %}
                  {% when 'Failure' %}
                    <span class="bg-red-800 text-white rounded-full px-2 py-1">{{ transaction.status_label }}</span>
                  {% else %}
                    <span class="bg-green-800 text-white rounded-full px-2 py-1">{{ transaction.status_label }}</span>
                {% endcase %}

              {% else %}
                <p class="text-sm mb-4">This order is manually placed by
                  <span class="text-yellow-500">{{ shop.name }}</span>
                </p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td class="border border-gray-200 px-4 py-2">Subtotal</td>
                <td class="border border-gray-200 px-4 py-2">{{ order.subtotal_price | money }}</td>
              </tr>
              <tr>
                <td class="border border-gray-200 px-4 py-2">Shipping Charge</td>
                <td class="border border-gray-200 px-4 py-2">{{ order.shipping_price | money }}</td>
              </tr>
              <tr>
                <td class="border border-gray-200 px-4 py-2">Tax</td>
                <td class="border border-gray-200 px-4 py-2">{{ order.tax_price | money }}</td>
              </tr>
              <tr>
                <td class="border border-gray-200 px-4 py-2">Total</td>
                <td class="border border-gray-200 px-4 py-2">{{ order.total_price | money }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>