<div x-data="{ modalOpen: false }" class="customer-address">
  <div class="container">

    {% comment %}  {% endcomment %}
    <div class="w-full flex border-b-2 pb-4 items-center justify-center md:justify-between  flex-col md:flex-row gap-4 md:gap-8 my-5">
      <h1 class="text-2xl text-center md:text-left font-bold text-gray-700">
        Addresses
      </h1>
      <button
        id="open_add_address"
        @click="modalOpen = ! modalOpen"
        type="button"
        class="btn btn-neutral">Create New Address</button>
      <a class="link link-primary" href="{{ routes.account_url }}">Back to account</a>
    </div>
    {% comment %} address modal {% endcomment %}

    <div
      x-cloak
      @click.self="modalOpen = ! modalOpen"
      id="close_add_address_div"
      x-show="modalOpen"
      class=" w-full h-screen fixed left-0 top-0  bg-opacity-50 bg-gray-600  z-40">
      {% comment %} form child of bg-gray-700 {% endcomment %}
      <div id="form_container" class="relative z-50 max-h-[80vh] overflow-y-auto overflow-x-hidden max-w-lg mb-6  mx-auto bg-white border top-10 p-4">
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-lg font-medium">
            New address
          </h2>
          <button
            id="close_add_address"
            @click.stop="modalOpen = false"
            class="">
            {% render 'icon-close'
              , class: 'w-8 h-8 hover:rotate-45 transition-all transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-transform   duration-100' %}
          </button>
        </div>
        {% comment %} modal form {% endcomment %}
        <style></style>
        <div class="text-xs address-form">
          {% form 'customer_address'
            , customer.new_address %}
            {% render 'customer-address-form'
              , form: form
              , type: "Create"
              , customer: customer
            %}

          {% endform %}
        </div>
      </div>
    </div>
    <div class="my-3">
      {% paginate customer.addresses by 12 %}
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 lg:gap-12">
          {% for address in customer.addresses %}

            <li x-data="{address_{{ address.id }}: false}" class="p-2 md:p-4 lg:p-6 border-2 rounded-sm">
              <div class="relative flex flex-col items-center justify-center text-center">
                {% if address == customer.default_address %}
                  <span class="badge badge-success">Default</span>
                {% endif %}
                <div class="y-8 h-full">
                  {{ address | format_address }}
                </div>
                <div class="flex gap-2 my-4">
                  <button x-on:click="address_{{ address.id }} = true" class="btn btn-sm btn-neutral">Edit</button>
                  {% comment %} #delete {% endcomment %}
                  <button
                    data-address-id="{{ address.id }}"
                    data-url="{{ address.url }}"
                    data-delete-address
                    class="btn btn-sm btn-outline">Delete

                  </button>
                </div>
                {% comment %} #delete form {% endcomment %}
                <div>
                  <form method="post" action="{{ address.url }}">
                    <input
                      type="hidden"
                      name="_method"
                      value="delete">
                  </form>
                </div>
              </div>
              {% comment %} #edit address modal {% endcomment %}
              <div
                @click.self="address_{{address.id}} = false"
                x-cloak
                x-show="address_{{ address.id }}"
                class="h-full fixed w-full inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50">
                <div class="relative max-w-md mx-auto bg-white border top-10 bottom-10 p-4">
                  <div class="flex items-center justify-between">
                    <h2 class="text-md font-medium">Edit address
                      {{ address.id }}
                    </h2>
                    <button x-on:click.stop="address_{{ address.id }} = false">
                      {% render 'icon-close'
                        , class: 'w-8 h-8' %}
                    </button>
                  </div>
                  <div class="my-3">
                    {% form 'customer_address'
                      , address %}
                      {% render 'customer-address-form'
                        , form: form
                        , customer: customer
                        , address: address
                        , type: 'Save Edits' %}
                    {% endform %}
                  </div>
                </div>
              </div>
            {% comment %} #edit address modal {% endcomment %}

            </li>
          {% endfor %}
        </ul>
        {% render 'pagination'
          , paginate: paginate %}
      {% endpaginate %}
    </div>
  </div>
</div>

<style></style>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const open_add_address = document.getElementById('open_add_address')
        const close_add_address = document.getElementById('close_add_address')
        const form_container = document.getElementById('form_container')
      //  const close_form_container_div = document.getElementById('close_add_address_div')
        const body = document.getElementsByTagName('body')[0]
  
        open_add_address.addEventListener('click', () => {          
        body.classList.add('custom-overflow-hidden')
        })
  
        close_add_address.addEventListener('click',() => {
            event.stopPropagation()
            body.classList.remove('custom-overflow-hidden')
        })
        close_add_address_div.addEventListener('click',() => {
            event.stopPropagation()
            body.classList.remove('custom-overflow-hidden')
        })  
  
        form_container.addEventListener('click', () => {         
          event.stopPropagation()
        })
  
    })
  
        // province class
</script>

<script defer src="{{ 'province-selector.js' |  asset_url }}"></script>